* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.container {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
  }
table {
    margin-top: 5%;
	border-collapse: collapse;
	width: 1000px;
	table-layout: fixed;
    text-align: center;

}
td,th {
	padding: 5px;
	min-width: 200px;
	border-right: 1px solid #ccc;
    text-align : canter;

}
thead tr {
	background: #888;
	color: #eee;
	display: block;
	position: relative;
}
tbody {
	display: block;
	height: 200px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
tbody tr:nth-child(even) {
	background: #ddd;
}

#popup-navs {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: blue;
}

#popup-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: navy;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    /* Style the button as desired */
}

#popup-section {
    background-color: pink;
    position: absolute;
    top: 50vh;
    left: 50%;
    height: 80vh;
    width: 80vw;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    padding: 20px;

}
.popUp-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.popUp-footer .right{
    background-color: black;
    width: 40%;
}
.popUp-footer .left{
    background-color: white;
    width: 40%;

}

.active {
    display: block;
}

.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}


.box-wrap {
    padding: 0px 16px;
}

.column_name {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

